* {
    margin: 0px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding: 0px;
    transition: all 0.35s ease-in;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../res/image/pexels-lukas-952476.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0px -100px;
    height: 100vh;
}

a {
    color: #9fff44;
    text-decoration: none;
}

a:hover {
    color: yellow;
}

form {
    background-image: linear-gradient(180deg,
    #ffffff54,transparent);
    backdrop-filter: blur(30px);
    padding: 48px;
    border-radius: 16px;
    border: 2px solid #ffffff6f;
    color: white;
    max-width: 520px;
    width: 100%;
    box-shadow: 16px 24px 48px inset #ffffff36;
}

.main {
    font-size: 42px;
}

.sub {
    font-size: 24px;
    margin-bottom: 48px;
    opacity: 0.75;
}

label {
    display: block;
}

input {
    line-height: 24px;
    border-radius: 8px;
    padding: 16px;
    margin: 8px 0px 16px;
    background-color: transparent;
    outline: none;
    font-size: 1rem;
}

input::placeholder {
    color: #ffffffaa;
}

input:hover {
    box-shadow: 0px 6px 12px #9fff4475;
}

input[type='text'],
input[type='password']{
    background-image: linear-gradient(180deg,#ffffff14,transparent);
    backdrop-filter: blur(10px);
    width: 100%;
    max-width: 100%;
    color: white;
    border: 2px solid #ffffff75;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='text']:hover,
input[type='password']:hover {
    border-color: #9fff44;
    color: white;
}

input[type='submit']{
    background-image: linear-gradient(
        45deg,
        #9fff44 35%,
        yellow 75%
    );
    padding: 16px 32px;
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.reset {
    text-align: right;
}

.signup {
    text-align: center;
    padding-top: 32px;
}

.signup a{
    margin-right: 16px;
}