* {
    margin: 0;
    padding: 0;
    transition: all 0.35s linear;
    font-family: sans-serif;
    box-sizing: border-box;
}

#gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 100vh;
    background-color: #c0f3c0;
}

.img-card {
    width: 4rem;
    height: 480px;
    margin: 0.5rem;
    overflow: hidden;
    border-radius: 2rem;
    position: relative;
    cursor: pointer;
    background-color: #24242436;
    transition: all 0.75s ease-in-out;
}

.img-card.active {
    width: 50vw;
}

.img-card:not(.active):hover {
    transform: scale(1.05);
    box-shadow: 0 24px 32px -12px #10101094;
}

.img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-card label {
    padding: 1.25rem;
    border: 1px solid #fff3;
    border-radius: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: white;
    backdrop-filter: blur(8px) brightness(85%);
    -webkit-backdrop-filter: blur(8px) brightness(85%);
    -moz-backdrop-filter: blur(8px) brightness(85%);
    font-size: 2rem;
    font-weight: 600;
    word-break: break-all;
    text-transform: uppercase;
}

.img-card.active label {
    font-size: 1.25rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    border-radius: 16px;
}

.img-card label span {
    display: block;
    font-size: 0rem;
    text-transform: none;
    padding-top: 0.5;
    font-weight: 400;
}

.img-card.active label span {
    font-size: 1rem;
}