@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.35s linear;
  font-family: 'barlow', sans-serif;
}

body {
  background-color: #ededed;
}

aside {
  background-color: #407f60;
  color: white;
  width: 16rem;
  height: 100vh;
  display: grid;
  grid-template-rows: 6rem 1fr 8rem;
  padding: 0.5rem;
  transition: width 0.25s linear,
    padding 0.25s linear;
}

button {
  background-color: transparent;
  border: none;
  height: 4rem;
  width: 4rem;
  font-size: 1.25rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #ffce00;
  color: #242424;
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

ul li {
  display: grid;
  grid-template-columns: 4rem 1fr;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-block: 0.25rem;
  transition: width 0.2s linear;
  overflow: hidden;
}

ul li.active,
ul li:hover {
  background-color: #ffce00;
  color: #000;
}

ul li i {
  width: 4rem;
  height: 3.5rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0.5rem;
  cursor: inherit;
}

ul li img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ffce00;
}

ul li:hover img {
  border-color: #407f60;
}

.mini {
  padding: 0;
}

.mini ul li {
  width: 4rem;
}

.mini ul li:hover {
  width: 12rem;
  box-shadow: 0 0.5rem 0.5rem #24242436;
}