* {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.35s linear;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #96c960;
}

.counter {
    background-color: #16171c;
    width: 240px;
    height: 160px;
    border-radius: 80px;
    position: relative;
    color: #96c960;
    display: grid;
    place-content: center;
    font-size: 72px;
    font-weight: 500;
}

.counter:hover {
    width: 320px;
    color: white;
}

.counter button {
    width: 32px;
    height: 32px;
    font-size: 0px;
    position: absolute;
    top: 64px;
    border: 6px solid #96c960;
    cursor: pointer;
    background-color: #16171c;
    border-radius: 50%;
    color: #96c960;
}

.counter:hover button {
    width: 64px;
    height: 64px;
    font-size: 32px;
    top: 48px;
    border-width: 4px;
}

.counter button#plus {
    right: -16px;
}

.counter:hover button#plus {
    right: -32px;
}

.counter button#minus {
    left: -16px;
}

.counter:hover button#minus {
    left: -32px;
}

.counter button:hover {
    box-shadow: 0 0 24px 4px #2227;
    color: white;
    font-weight: 600;
}